<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  
  <body>

    {% include sidebar.html %}
    
    <div class="content container">
      <div class="page">
        <h1 class="page-title">Welcome!</h1>
        <hr>
        <p>Welcome to my website, my name is Steve Bottos, and I'm a Machine Learning Engineer currently located in San Diego, California. This website serves as a home for my various side projects and research contributions. Check out the feed below for some of my most recent work, or visit the "<a href = "https://stevebottos.github.io/projects/">Projects</a>" page for a complete catalog. For my research papers, head to the "<a href = "https://stevebottos.github.io/publications/">Publications</a>" page.</p>
      </div>  
      {{ content }}
    </div>

  </body>
</html>
